.main {
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-repeat: repeat;
    
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #6a9e89;
}

.img {
    position: relative;
    min-width: 500px;
    width: 100%;
    border-radius: 50%;
    margin-top: 80px;
    margin-bottom: 50px;
}

.main-title {
    text-align: center;
    max-width: 550px;
    width: 100%;
    font-family: "Sour Gummy", serif;
    font-weight: normal;
    font-style: normal;
    font-size: 50px;
}

.main-info {
    text-align: center;
    max-width: 550px;
    width: 100%;
    font-family: "Nunito Sans", serif;
    font-weight: 300;
    font-style: normal;
    font-size: 22px;
    margin: 0px 0px 20px 0px;
}

.info {
    text-align: center;
    max-width: 550px;
    width: 100%;
    font-family: "Nunito Sans", serif;
    font-weight: 300;
    font-style: normal;
    font-size: 15px;
    margin: 0px 0px 40px 0px;
}

.form {
    max-width: 550px;
    width: 100%;
    border: 3px solid rgb(255, 255, 255);
    padding: 10px 50px 50px 60px;
    margin-bottom: 100px;
}



.radio {    
    max-width: 550px;
    width: 100%;
    font-family: "Nunito Sans", serif;
    font-weight: 300;
    font-style: normal;
    font-size: 15px;
    margin-bottom: 40px;
}


 input[type='radio']:after {
        width: 15px;
        height: 15px;
        position: relative;
        background-color: #ffffff;
        content: '';
        display: inline-block;
        visibility: visible;
        border: 2px solid #206147;
    }

    input[type='radio']:checked:after {
        width: 15px;
        height: 15px;
        position: relative;
        background-color: #206147;
        content: '';
        display: inline-block;
        visibility: visible;
        border: 2px solid white;
    }



.radio > input {
    height: 15px;
    width: 20px;
    cursor: pointer;
    margin-top: 10px;
}

.input-field:hover {
    background-color:#6a9e89
}

.textarea:hover {
    background-color:#6a9e89
}

.info-box {
    margin: 20px 0px 20px 0px;
    max-width: 550px;
    width: 100%;
    font-family: "Nunito Sans", serif;
    font-weight: 300;
    font-style: normal;
    font-size: 15px;   
}

.input-field {
    width: 100%;
    min-height: 35px;
    margin-top: 6px;
    margin-bottom: 20px;
    border: 1px solid #000201;
    background-color: #ffffff;
    cursor: pointer;
    font-family: "Nunito Sans", serif;
    font-weight: 300;
    font-style: normal;
    font-size: 15px;
}

.input-field::placeholder, textarea::placeholder {
    color: #000000;
    padding-top: 8px;
    padding-left: 4px;
}


.textarea {
    width: 100%;
    background-color: #ffffff;
    font-family: "Nunito Sans", serif;
    font-weight: 300;
    font-style: normal;
    font-size: 15px;
    cursor: pointer;
}

.label__text {
    margin-top: 5px;
    margin-bottom: 6px;
}

.button {
    width: 100%;
	height: 36px;
    cursor: pointer;
    box-sizing: border-box;
    font-family: "Sour Gummy", serif;
    font-weight: normal;
    font-style: normal;
    font-size: 22px;
}

.button:hover {
    background-color:#6a9e89
}
